/* HomePage.css */

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  margin-top: 10px;
}

.title, .section-title {
  margin-top: 30px;
  font-size: 2em;
  text-align: center;
}

.yellow-line {
  width: 50%;
  border: none;
  height: 3px;
  background-color: #E7863C;
  margin-bottom: 30px;
}

.description, .section-content {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
  margin-left: 10%;
  margin-right: 10%;
  font-size: 1em;
}

.section-content-section {
  text-align: center;
  margin-bottom: 25px;
  padding: 10px 20px;
  font-size: 0.8em;
}

.button-container {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin: 50px 0;
}

@media (max-width: 1300px) {
  .description, .section-content, .section-content-section {
    font-size: 0.8em;
    padding: 0 20px; /* Reducir el padding lateral */
  }
}

@media (max-width: 600px) {
  .title, .section-title {
    font-size: 1.5em;
  }
  
  .description, .section-content, .section-content-section {
    font-size: 12px;
    padding: 0 10px; /* Reducir el padding lateral */
  }
}

.frogImage {
  max-width: 100%; /* Ajusta el tamaño máximo de la imagen */
  height: auto;
}

.comic-button {
  display: inline-block;
  padding: 10px 25px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: #E7EEE9;
  background-color: #455F4C;
  border: 2px solid #000;
  border-radius: 10px;
  box-shadow: 5px 5px 0px #000;
  transition: all 0.3s ease;
  cursor: pointer;
}

.comic-button:hover {
  background-color: #E7EEE9;
  color: #455F4C;
  border: 2px solid #53725D;
  box-shadow: 5px 5px 0px #53725D;
}

.comic-button:active {
  background-color: #53725D;
  box-shadow: none;
  transform: translateY(4px);
}

.codepen-button {
  display: block;
  cursor: pointer;
  color: white;
  margin: 0 auto;
  position: relative;
  text-decoration: none;
  font-weight: 600;
  border-radius: 15px;
  overflow: hidden;
  padding: 7px;
  isolation: isolate;
}

.codepen-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 400%;
  height: 100%;
  background: linear-gradient(115deg,#4fcf70,#fad648,#a767e5,#12bcfe,#44ce7b);
  background-size: 25% 100%;
  animation: an-at-keyframe-css-at-rule-that-translates-via-the-transform-property-the-background-by-negative-25-percent-of-its-width-so-that-it-gives-a-nice-border-animation_-We-use-the-translate-property-to-have-a-nice-transition-so-it_s-not-a-jerk-of-a-start-or-stop .75s linear infinite;
  animation-play-state: paused;
  translate: -5% 0%;
  transition: translate 0.25s ease-out;
}

.codepen-button:hover::before {
  animation-play-state: running;
  transition-duration: 0.75s;
  translate: 0% 0%;
}

@keyframes an-at-keyframe-css-at-rule-that-translates-via-the-transform-property-the-background-by-negative-25-percent-of-its-width-so-that-it-gives-a-nice-border-animation_-We-use-the-translate-property-to-have-a-nice-transition-so-it_s-not-a-jerk-of-a-start-or-stop {
  to {
    transform: translateX(-25%);
  }
}

.codepen-button span {
  position: relative;
  display: block;
  padding: 25px 50px;
  font-size: 30px;
  background: #000;
  border-radius: 1px;
  height: 100%;
}

/* Añadir más estilos según sea necesario */
