
.comic-button-reset:hover {
    background-color: white;
    color: #E7863C;
    border: 2px solid #E7863C;
    box-shadow: 5px 5px 0px #E7863C;
  }

  
.comic-button-ver:hover {
  background-color: white;
  color: #E7863C;
  border: 2px solid #E7863C;
  box-shadow: 5px 5px 0px #E7863C;
}

.eye {
  position: absolute;
  animation: keyframes-fill .5s;
  fill: #E7863C;;
}