
  .comic-button-reset:hover {
    background-color: white!important;
    color: #E7863C!important ;
    border: 2px solid #E7863C !important;
    box-shadow: 5px 5px 0px #E7863C!important;
  }

  
.comic-button-ver:hover {
  background-color: white!important;
  color: #E7863C!important ;
  border: 2px solid #E7863C !important;
  box-shadow: 5px 5px 0px #E7863C!important;
}

.eye {
  position: absolute;
  animation: keyframes-fill .5s;
  fill: #E7863C;;
}