/* Estilos para el título */
.title {
  font-size: 2em;
  text-align: center;
  margin-bottom: 20px;
}

/* Estilos para el contenedor principal */
.container {
  background-color: #f0f0f0; /* Color de fondo del contenedor */
  padding: 20px; /* Espacio interno del contenedor */
}

/* Estilos para el componente Controller */
.controller {
  width: 100%;
  max-width: 800px; /* Ancho máximo del componente */
  margin: 20px auto; /* Centrar el componente y añadir margen superior e inferior */
  padding: 10px; /* Espacio interno */
  background-color: #9db0a3; /* Color de fondo */
  border-radius: 20px; /* Borde redondeado */
  box-shadow: 5px 5px 2px #9db0a3; /* Sombra ligera */
}

/* Estilos para el contenedor de Slider y Botón */
.speed-slider-container {
  display: flex;
  justify-content: space-between; /* Alinear el slider y el botón */
  align-items: center;
  width: 100%; /* Ocupa el ancho completo de la tarjeta */
  margin-top: 20px; /* Margen superior para el Slider */
}

.speed-slider-container .nextui-slider {
  width: 70%; /* Ajusta el ancho del slider */
}

.speed-slider-container .execute-button {
  width: 25%; /* Ajusta el ancho del botón */
  margin-left: 5%; /* Espacio entre el slider y el botón */
}

/* Media query para dispositivos móviles */
@media (max-width: 800px) {
  .speed-slider-container {
    flex-direction: column; /* Cambia a dirección columna en dispositivos más pequeños */
    align-items: stretch; /* Estirar los elementos */
  }

  .speed-slider-container .nextui-slider {
    width: 100%; /* Ancho completo del slider en dispositivos móviles */
    margin-bottom: 10px; /* Margen inferior para el slider */
  }

  .speed-slider-container .execute-button {
    width: 100%; /* Ancho completo del botón en dispositivos móviles */
    margin-left: 0; /* Eliminar margen izquierdo en dispositivos móviles */
    margin-top: 10px; /* Añadir margen superior en dispositivos móviles */
  }
}

/* Estilos específicos para LogContainerComponent 

.log-container {
  background-color: #000; 
  color: #fff; 
  width: 100%;
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}



.log-container .log-footer {
  display: flex;
  justify-content: flex-end;
}

@media (max-width: 800px) {
  .log-container {
      width: 100%;
      padding: 10px;
  }

  .log-container p {
      font-size: 14px;
  }
}*/

.log-body {
  max-height: 200px; 
  overflow-y: auto;  
}
